*{margin: auto;}
body{
    background: linear-gradient(to right,#f8b2cf,#a2eaea);
    
}
.top img{
    height: 50px;
    width: 50px;
    position: fixed;
    right: 25px;
    bottom: 50px;
}
.bottom{
    margin-top: 15px;
    line-height: 40px;
    height: 40px;
    width: 1500px;
}
.bottom>p{
    text-align: center;
}
.box1{
    width: 1000px;
    height: 250px;
    background-color: rgba(255, 255, 255, .6);
    border-radius: 35px;
    position: relative;
    margin-top: 20px;
}
h2{
    text-align: center;margin: 15px;
}
.box1:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);;
    transition: all 0.5s;
    transform: translate(-2px -2px);
}
.left{
    float: left;
}
img{
    width: 223px;
    border-radius: 15px;
}
.left{
    position: absolute;
    top: 30px;
    left: 60px;
}
.right{
    width: 640px;
    position: absolute;
    left: 310px;
    top: 30px;
}
.title{
    font-size: 20px;
    font-weight: 600;
}
.text{
    font-size: 14px;
    height: 80px;
    line-height: 20px;
    color: #888;
    margin-top: 20px;
}
.tags{
    height: 50px;
    font-size: 14px;
}
a{
    text-decoration: none;
    color: #000;
}
a:hover{
    color: #ff6700;
    transition: all 0.5s;
}